<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <div class="panel-toolbar mr-2">
                    <div class="btn-group">
                        <div class="col-sm-1" style="margin-top: 10px">From:</div>
                        <div class="col-sm-3" id="date-box1"></div>

                        <div class="col-sm-1" style="margin-top: 10px">To:</div>
                        <div class="col-sm-3" id="date-box2"></div>

                        <div class="col-sm-2" style="margin-top: 10px">Sampling Type:</div>
                        <div class="col-sm-3" id="sampling-type"></div>

                        <div class="col-sm-2" style="margin-top: 10px">
                            <button id="btnView" type="button" class="btn btn-info">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    @ViewBag.Breadcrumb
                </h2>

                @*<div class="panel-toolbar mr-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/StockpileManagement/QualitySampling/ExcelExport">Download Template</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-upload-file">Upload Data</a>
                        </div>
                    </div>
                </div>*@
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="dx-viewport">
                                <div class="demo-container">
                                    <div id="grid"></div>
                                    <div id="approval-popup"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock
{
    <script src="~/js/cdnjs/ajax/libs/polyfill.min.js"></script>
    <script src="~/js/cdnjs/ajax/libs/jszip.min.js"></script>
    <script src="~/js/cdnjs/ajax/libs/exceljs.min.js"></script>
    <script src="~/js/cdnjs/ajax/libs/FileSaver.min.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script defer src="~/app/areas/stockpile_management/quality_sampling_approval/js/index.js?_=@DateTime.Now.Ticks"></script>
}