<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <div class="panel-toolbar mr-2">
                    <div class="btn-group">
                        <div class="col-sm-2" style="margin-top: 10px">From:</div>
                        <div class="col-sm-4" id="date-box1"></div>

                        <div class="col-sm-2" style="margin-top: 10px">To:</div>
                        <div class="col-sm-4" id="date-box2"></div>

                        <div class="col-sm-2" style="margin-top: 10px">
                            <button id="btnView" type="button" class="btn btn-info">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    CHLS Approval
                </h2>

                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="dx-viewport">
                                <div class="demo-container">
                                    <div id="grid1"></div>
                                    <div id="approval-popup"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    @ViewBag.Breadcrumb
                </h2>

                <div class="panel-toolbar mr-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog mr-1"></i> Actions
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                            <h6 class="dropdown-header">Data Management</h6>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-upload-file">
                                <i class="fas fa-upload mr-2"></i> Upload Data
                            </a>
                            <a class="dropdown-item disabled" href="#" data-toggle="modal" data-target="#modal-download-selected" id="dropdown-download-selected">
                                <i class="fas fa-download mr-2"></i> Download Template
                            </a>

                            @* <div class="dropdown-divider"></div>

                            <h6 class="dropdown-header">Data Processing</h6>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-accounting-period" id="dropdown-item-accounting-period">
                            <i class="fas fa-calendar-alt mr-2"></i> Apply Accounting Period
                            </a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-quality-sampling" id="dropdown-item-quality-sampling">
                            <i class="fas fa-flask mr-2"></i> Apply Quality Sampling
                            </a>
                            *@
                            <div class="dropdown-divider"></div>

                            <a class="dropdown-item disabled text-danger" href="#" data-toggle="modal" data-target="#modal-delete-selected" id="dropdown-delete-selected">
                                <i class="fas fa-trash-alt mr-2"></i> Delete Selected Rows
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="dx-viewport">
                                <div class="demo-container">
                                    <div id="grid"></div>
                                    <div id="popup"></div>
                                    <div id="approval-popup"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Upload file -->
<div class="modal fade" id="modal-upload-file" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">
                    <i class="fas fa-upload mr-2"></i>Upload File
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="fUpload" name="files">
                    <label class="custom-file-label" for="fUpload">Choose file</label>
                </div>
                <div class="alert alert-info" role="alert">
                    <i class="fas fa-info-circle mr-2"></i>Please select an Excel file (.xlsx, .xlsm, or .xls)
                </div>
                <div class="progress mt-3" style="height: 25px;">
                    <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        0%
                    </div>
                </div>
                <div id="uploadStatus" class="mt-2 text-center"></div>
                <div id="queueStatus" class="mt-2 text-info"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-times mr-1"></i>Close
                </button>
                <button type="button" class="btn btn-primary" id="btnUpload">
                    <i class="fas fa-upload mr-1"></i>Upload
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Accounting period -->
<div class="modal fade" id="modal-accounting-period" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Apply Accounting Period</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="hidden" id="accounting_period_id" name="accounting_period_id" />
                            <select data-placeholder="Accounting period ..." class="form-control" id="AccountingPeriod"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="btnApplyAccountingPeriod">Apply</button>
            </div>
        </div>
    </div>
</div>

<!-- Quality sampling -->
<div class="modal fade" id="modal-quality-sampling" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Apply Quality Sampling</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="hidden" id="quality_sampling_id" name="quality_sampling_id" />
                            <select data-placeholder="Quality sampling ..." class="form-control" id="QualitySampling"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="btnApplyQualitySampling">Apply</button>
            </div>
        </div>
    </div>
</div>

<!-- Download Selected Row -->
<div class="modal fade" id="modal-download-selected" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">
                    <i class="fas fa-download mr-2"></i>Download Selected Rows
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    <i class="fas fa-info-circle mr-2"></i>Are you sure you want to download all selected rows for the template?
                </div>
                <p class="text-muted">The time taken to download the template depends on the amount of selected data.</p>
                <div class="progress mt-3" style="height: 25px;">
                    <div id="downloadProgressBar" class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        0%
                    </div>
                </div>
                <div id="downloadStatus" class="mt-2 text-center"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-times mr-1"></i>Cancel
                </button>
                <button type="button" class="btn btn-primary" id="btnDownloadSelectedRow">
                    <i class="fas fa-download mr-1"></i>Download
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Selected Rows Modal -->
<div class="modal fade" id="modal-delete-selected" tabindex="-1" role="dialog" aria-labelledby="deleteSelectedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteSelectedModalLabel">
                    <i class="fas fa-exclamation-triangle mr-2"></i>Confirm Deletion
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="lead">Are you sure you want to delete all selected rows?</p>
                <p>This action cannot be undone. Please confirm your decision.</p>
                <div class="alert alert-warning" role="alert">
                    <i class="fas fa-info-circle mr-2"></i>
                    <strong>Note:</strong> This will permanently remove the selected data from the system.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-times mr-1"></i> Cancel
                </button>
                <button type="button" class="btn btn-danger" id="btnDeleteSelectedRow">
                    <i class="fas fa-trash-alt mr-1"></i> Delete Selected
                </button>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/cdnjs/ajax/libs/polyfill.min.js"></script>
    <script src="~/js/cdnjs/ajax/libs/jszip.min.js"></script>
    <script src="~/js/cdnjs/ajax/libs/exceljs.min.js"></script>
    <script src="~/js/cdnjs/ajax/libs/FileSaver.min.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script defer src="~/app/areas/mining/rehandling/js/index.js?_=@DateTime.Now.Ticks"></script>
}